*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

release/app-release.jks
release/google-services.json
release/play-account.json
app/google-services.json

# fastlane run artifacts
fastlane/report.xml
fastlane/Preview.html
fastlane/test_output